@font-face {
  font-family: 'RINGBEARER';
  src: url('fonts/RINGBEARER.TTF');
}
@font-face {
  font-family: 'BttnFont';
  src: url('fonts/BttnFont.ttf');
}
*{
padding:0;
margin:0;
box-sizing: border-box;
text-align: center;
font-size: 1em;
}
body{
  background-position: center center !important;
	background-repeat: no-repeat !important;
	background-attachment: fixed !important;
	background-size: cover !important;
	background-color: #464646 !important;
}
.navList{
  margin: 0.5em;
  font-size: 1.5em;
  font-family: 'RINGBEARER';
}
.gamePic, .deathPic, .bioPic{
  max-width: 90%;
  padding-top: 1em;
}
.ringbearer{
  font-family: 'RINGBEARER';
  margin: 0.5em;
}
.gameText{
  padding: 1em;
}
.whiteOpacBG{
  background: url("img/paperBG.png");
  opacity: 0.9;
  margin: 2em 0.5em;
  padding: 1em;
}
#gameBody{
  	background: url("img/background-img-5.png");
}
#aboutBody {
	background: url("img/background-img-4.png");
}
a {
  text-decoration: none;
  color: black;
}
a:hover{
  color: #A69856;
}
.gameOptionButton{
min-height: 3em;
width: 87%;
padding: 0.3em;
font-family: 'BttnFont';
font-size: 0.9rem;
}
button:hover {
  opacity: .65;
  cursor: pointer;
}

button {
	background: #F2EBC9;
	color: #736830;
	border: 1px solid #736830;
	font-size: 1.25em;
}

button#chooseChar {
	width: 40%;
	margin: 0px auto;
	text-align: center;
	margin: auto;
	height: 3em;
}

button#startGame {
	width: 30%;
	margin: 0px auto;
	text-align: center;
	margin: auto;
	height: 3em;
	margin-bottom: .5em;
}

button.game {
	width: 80%;
	min-height: 3em;
	margin-left: auto;
	margin-right: auto;
	padding-top: .5em;
	padding-bottom: .5em;
	padding-left: 1em;
	text-align: left;
	font-size: 1em;
}
.bigLetters{
  padding-top: 20px;
  width: 80%;
  display: inline;
  color: #A69856;
  text-align: center;
  font-size: 2em;
  text-shadow: -.5px .5px .5px #000;
}
@media screen and (max-width: 450px){
.content {
  width: 100%;
  padding:2.5%;
}
.headerLogo{
  width:90%;
}
.bigLetters{
  padding-top: 20px;
  width: 80%;
  display: inline;
  color: #A69856;
  text-align: center;
  font-size: 2em;
  text-shadow: -.5px .5px .5px #000;
}

/*About page*/

ul{
  list-style-type: none;
}

.referenceList{
  margin: 0.4em;
}
}
@media screen and (min-width: 451px){
.content{
  font-size: 0.75rem;
}
.gameText{
  font-family: 'BttnFont';
}
.whiteOpacBG{
  width: 75%;
  margin: auto;
}
}
